<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" aria-current="true" (click)="selectTask(tasks[0])">
        {{tasks[0].name}}
    </button>
    <button type="button" class="list-group-item list-group-item-action" (click)="selectTask(tasks[1])">
        {{tasks[1].name}}
    </button>
    <button type="button" class="list-group-item list-group-item-action" (click)="selectTask(tasks[2])">
        {{tasks[2].name}}
    </button>
    <button type="button" class="list-group-item list-group-item-action" aria-current="true" (click)="selectTask(tasks[3])">
        {{tasks[3].name}}
    </button>
    <button type="button" class="list-group-item list-group-item-action" (click)="selectTask(tasks[4])">
        {{tasks[4].name}}
    </button>
    <button type="button" class="list-group-item list-group-item-action" (click)="selectTask(tasks[5])">
        {{tasks[5].name}}
    </button>
</div>